$-menu-color: o-color('menu-custom') or o-color('menu');

/* Header Option 1
-----------------------------------------------*/

@if o-website-value('header-template')=='as_header8' {

    .as-main-header {
        .as-header-navbar {
            padding: 0;
            flex-wrap: wrap;
        }

        .header-top {
            width: 100%;
            position: relative;
            padding-top: 25px;
            padding-bottom: 25px;
            @include media-breakpoint-down(md) {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            > .container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

        }

        .header-search {
            @include media-breakpoint-up(lg) {
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);
            }
            @include media-breakpoint-down(lg) {
                padding: 0;
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 1;
                background: $white;
                top: 100%;
                border-top: 1px solid rgba($dark, 0.1);

                form {
                    padding: 20px;
                }
            }
            .o_searchbar_form {
                max-width: 300px;
                @include media-breakpoint-down(lg) {
                    max-width: 100%;
                }
                .input-group {
                    border-bottom: 1px solid rgba($dark, 0.15);
                    @if ($-menu-color and color-contrast($-menu-color) != $color-contrast-dark) {
                        border-bottom: 1px solid rgba($white, 0.15);
                    }
                }
                .search-query {
                    border-radius: 0;
                    border: none;
                    box-shadow: none;
                    z-index: 0;
                    background: transparent;
                }
                .oe_search_button {
                    background: transparent !important;
                    border-radius: 0;
                    border: 0 !important;
                    box-shadow: none !important;
                    color: $dark !important;
                    padding: 0;
                    @if ($-menu-color and color-contrast($-menu-color) != $color-contrast-dark) {
                        color: rgba($white, 0.8) !important;
                    }
                }
            }
        }

        .logo-bar {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
            text-align: center;
            display: flex;
            justify-content: center;
            @include media-breakpoint-down(lg) {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
                justify-content: flex-start;
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
                .logo {
                    margin-left: 0;
                }
            }
        }

        .header-end {
            position: relative;
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
            @include media-breakpoint-down(lg) {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
                padding-top: 15px;
                border-top: 1px solid rgba($dark, 0.1);
                margin-top: 15px;
                padding-bottom: 0;
            }
            .nav {
                justify-content: flex-end;
                @include media-breakpoint-down(md) {
                    justify-content: space-between;
                }
                li {
                    margin-left: 10px;
                    @include media-breakpoint-down(md) {
                        margin-left: 0px;
                    }
                }
            }
            .hm-icon {
                color: inherit;
                text-decoration: none;
                position: relative;
                font-size: 1.3rem;
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: inherit !important;
                border: 1px solid $gray-300;
                border-radius: 3px;
                @if ($-menu-color and color-contrast($-menu-color) != $color-contrast-dark) {
                    border: 1px solid rgba($white, 0.15);
                }
                &:hover {
                    color: inherit !important;
                }
                sup {
                    position: absolute;
                    right: -4px;
                    top: -4px;
                    background: $dark !important;
                    color: $white !important;
                    border-radius: 6.25rem;
                    padding: 0;
                    font-size: .625rem;
                    z-index: 1;
                    min-width: 18px;
                    height: 18px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: normal;
                    border: 1px solid $white;
                }
            }
            .fa-heart {
                &:before {
                    content: "\e879";
                    font-family: 'feather';
                }
            }
            .fa-shopping-cart {
                &:before {
                    content: "\e926";
                    font-family: 'feather';
                }
            }
            .hm-icon-user {
                font-size: 0px;
                &:before {
                    content: "\e8e9";
                    font-family: 'feather';
                    font-size: 1.3rem;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .as_login_popup {
                font-size: 0px;
                &:before {
                    font-size: 1.3rem;
                }
            }

            .hm-user {
                .dropdown-toggle {
                    &:after {
                        display: none;
                    }
                }
                .dropdown-menu {
                    .text-muted {
                        color: inherit !important;
                    }
                }
            }

            .js_language_selector {
                padding: 4px;
                .dropdown-toggle {
                    padding: 0;
                    height: 100%;
                    background: none !important;
                    font-size: 0px;
                    &:after {
                        display: none;
                    }
                    .o_lang_flag {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        border-radius: 3px;
                        object-fit: cover;
                    }
                    span {
                        display: none;
                    }
                }
            }


            .dropdown-menu {
                box-shadow: $box-shadow;
                right: 0;
                left: auto;
                font-size: 15px;
            }
        }

        @include media-breakpoint-up(lg) {
            .navbar-nav {
                > .nav-item {
                    padding: 0 6px;
                    > .nav-link {
                        padding: 1rem 0.8rem;
                        margin: 0;
                    }
                }
            }
        }

    }

}
