@if o-website-value('shop-template')=='alan_shop4' {

    #wrapwrap.as_shop_page {
        #wrap {
            > .oe_website_sale {
                padding-top: 30px !important;
            }
        }
    }

    /* Shop Filter
    ------------------------------*/
    .as-shop-top-filter {
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            margin: 2px 6px 2px 0;
        }
        .as-clear-filter-all {
            a {
                display: flex;
                align-items: center;
                background-color: $dark;
                border: 1px solid $dark;
                padding: 5px 10px;
                line-height: 1.2;
                font-size: 14px;
                cursor: pointer;
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    background-color: $danger;
                    border: 1px solid $danger;
                    color: $white;
                }
                b {
                    margin-left: 5px;
                }

            }
        }
        .as-clear-filter {
            display: flex;
            align-items: center;
            background-color: $white;
            border: 1px solid $dark;
            padding: 5px 10px;
            line-height: 1.2;
            font-size: 14px;
            cursor: pointer;
            color: $dark;
            text-transform: uppercase;
            font-weight: 500;
            &:hover {
                background-color: $dark;
                border: 1px solid $dark;
                color: $white;
            }
            .fa {
                display: none;
            }
            b {
                margin-left: 5px;
            }
        }
    }


    /* Product Box Grid
    ------------------------------*/
    #products_grid {
        &:not(.o_wsale_layout_list) {
            .oe_product {
                .o_wsale_product_sub {
                    .o_wsale_product_btn {
                        display: flex;
                        width: 100%;
                        @include media-breakpoint-up(lg) {
                            justify-content: center;
                            padding: 7px;
                            bottom: calc(100% + 15px)!important;
                            left: 0 !important;
                            transition: ease all 0.35s;
                            opacity: 0 !important;
                            padding: 3px;
                        }
                        @include media-breakpoint-down(lg) {
                            .btn {
                                margin: 0 8px 0 0;
                            }
                        }
                    }
                }

                &:hover {
                    .as-product-rating {
                        opacity: 0;
                    }
                    .o_wsale_product_sub {
                        .o_wsale_product_btn {
                            opacity: 1 !important;
                        }   
                    }
                }
            }
        }
    }



    /* Product Box
    ------------------------------*/
    .o_wsale_products_grid_table_wrapper {
        .oe_product {

            .oe_product_cart {
                border: 2px solid $dark;
            }

            .as-product-card-actions,
            .o_wsale_product_btn {
                .btn {
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    border: none;
                    background-color: $dark !important;
                    color: $white !important;
                    margin: 0 7px;
                    box-shadow: 0px 0 0 4px rgba($white, .10);
                    border-radius: 0;
                    &:hover {
                        background-color: $primary !important;
                        color: $white !important;
                        box-shadow: 0px 0 0 4px rgba($white, .50);
                    }
                }
            }


            .as-product-card-actions {
                position: absolute;
                top: 10px;
                right: 0;
                opacity: 0;
                display: flex;
                flex-direction: column;
                transition: ease all 0.35s;
                .btn {
                    margin: 4px;
                }
                
            }

            .o_wsale_product_sub {
                .o_wsale_product_btn {
                    .btn {
                        margin: 0 7px;
                    }
                }
            }

            .o_wsale_product_information {
                padding: 15px;
                border-top: 2px solid $dark;
                .o_wsale_product_information_text {
                    flex-grow: initial !important;
                    .as-brand {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: $gray-600;
                        padding-bottom: 5px;
                    }
                    .o_wsale_products_item_title {
                        margin: 0 !important;
                        padding-bottom: 5px;
                        font-size: 15px;
                        a {
                            color: $dark !important;
                        }
                    }
                }
                .o_wsale_product_sub {
                    flex-direction: column;
                    align-items: flex-start !important;
                    padding: 0 !important;
                    .product_price {
                        width: 100%;
                        padding-bottom: 10px;
                        del {
                            color: $danger !important;
                            font-size: 90%;
                        }
                        h6 {
                            color: $primary;
                            font-size: 14px;
                        }
                    }
                }
            }

            .as-color-variant {
                font-size: 0px;
                padding-bottom: 15px;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    padding: 0;
                }
                li {
                    margin: 0 12px 0px 0px; 
                }
                label {
                    width: 25px;
                    height: 25px;
                    position: relative;
                    overflow: hidden;
                    border: 2px solid $white;
                    box-shadow: 0 0 0 2px $gray-300;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0 0 2px $primary;
                    }
                }
            }
            .as-product-offer-time {
                padding-bottom: 10px;
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    font-size: 13px;
                }
                li {
                    padding: 0 10px 0 0;
                    display: flex;
                    flex-direction: column;
                }
                label {
                    font-weight: 600;
                    color: $dark;
                    @include media-breakpoint-down(xl) {
                        font-size: 12px;
                    }
                }
                span {
                    font-size: 10px;
                    text-transform: uppercase;
                    @include media-breakpoint-down(xl) {
                        font-size: 7px;
                    }
                }
            }

            .as-product-rating {
                line-height: 15px;
                font-size: 11px;
                color: $gray-600;
                font-weight: 600;
                background: $white;
                padding: 3px 6px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                box-shadow: 0px 1px 3px rgba($dark, .10), 0px 1px 2px -1px rgba($dark, .10);
                transition: ease all 0.35s;
                opacity: 1;
                position: absolute;
                bottom: calc(100% + 10px);
                right: 10px;
                .fa {
                    margin-right: 3px;
                    color: $warning;
                }
            }

            .as-product-stock-message {
                span {
                    display: inline-block;
                    vertical-align: top;
                    color: $danger;
                    border-bottom: 2px solid rgba($danger, 0.5);
                    font-size: 14px;
                }
            }
            .as-product-units-message {
                span {
                    display: inline-block;
                    vertical-align: top;
                    color: $warning;
                    border-bottom: 2px solid rgba($warning, 0.5);
                    font-size: 14px;
                }
            }


            .as-b2b-price {
                padding-bottom: 15px;
                display: flex;
                width: 100%;
                padding-top: 5px;
                a {
                    padding: 6px 14px;
                    font-size: 13px;
                    background: $white;
                    color: $dark;
                    border: 2px solid $dark;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-decoration: none;
                    i {
                        margin-right: 5px;
                    }
                    &:hover {
                        background: $dark;
                        color: $white;
                    }
                }
            }
            
            &:hover {
                .as-product-card-actions {
                    right: 10px;
                    opacity: 1;
                }
            }
        }

    }


    /* Product Box list View
    ------------------------------*/
    #products_grid {
        &.o_wsale_layout_list {
            .oe_product {
                .oe_product_cart {
                    align-items: flex-start;
                    padding: 0;
                }
                .oe_product_image {
                    flex: 0 0 28%;
                    max-width: 28%;
                    width: inherit;
                    min-width: inherit;
                    @include media-breakpoint-down(lg) {
                        flex: 0 0 35%;
                        max-width: 35%;
                    }
                }
                .as-product-rating {
                    right: 10px;
                    bottom: auto;
                    top: 10px;
                    left: auto;
                }
                .o_wsale_product_information {
                    flex: 1 !important;
                    padding: 15px !important;
                    border-top: none;
                    .o_wsale_product_information_text {
                        text-align: left;
                    }
                    .o_wsale_products_item_title {
                        font-size: 1rem;
                        font-weight: 600;
                        padding-bottom: 10px;
                    }
                    .o_wsale_product_sub {
                        .o_wsale_product_btn {
                            justify-content: flex-start;
                            padding: 0 0 15px;
                            order: 12;
                            .btn {
                                margin: 0 8px 0 0px;
                                &:not(:hover) {
                                    background-color: $primary !important;
                                    color: $white !important;
                                }
                            }
                        }
                        .product_price {
                            h6 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }



    /* Topbar
    ------------------------------*/
    #products_grid {
        .btn-toolbar {
            justify-content: inherit !important;
            .o_searchbar_form {
                display: none !important;
            }
            .as-ppg-dropdown {
                display: flex !important;
                label {
                    font-size: 15px;
                    padding: 0 16px;
                    line-height: 36px;
                    border-radius: 0;
                    border: 2px solid $dark;
                    background: $white !important;
                    display: inline-flex !important;
                    margin: 0 !important;
                    border-right: none;
                    text-transform: uppercase;
                    color: $dark;
                    font-weight: 500;
                }
            }
            .o_sortby_dropdown {
                order: 10;
                @include media-breakpoint-up(lg) {
                    display: flex !important;
                    small {
                        font-size: 15px;
                        padding: 0 16px;
                        line-height: 36px;
                        border-radius: 0;
                        border: 2px solid $dark;
                        background: $white !important;
                        display: inline-flex !important;
                        margin: 0 !important;
                        border-right: none;
                        text-transform: uppercase;
                        color: $dark !important;
                        font-weight: 500;
                    }
                }
            }
            .o_pricelist_dropdown {
                margin: 0 0 0 auto !important;
                order: 10;
            }
            .dropdown {
                .dropdown-toggle {
                    background: $white !important;
                    border: 2px solid $dark !important;
                    font-size: 15px;
                    padding: 0 16px;
                    line-height: 36px;
                    border-radius: 0;
                    text-transform: uppercase;
                    color: $dark;
                    font-weight: 500;
                    &:after {
                        content: "\f107";
                        font-family: FontAwesome;
                        border: 0;
                        vertical-align: top;
                        display: inline-block;
                        margin-left: 0.255em;
                    }
                }
                .dropdown-menu {
                    box-shadow: $box-shadow;
                    font-size: 15px;
                }
            }
            .o_wsale_apply_layout {
                margin: 0 !important;
                .btn {
                    border-radius: 0px;
                    border: 2px solid $dark !important;
                    background: $white !important;
                    color: $dark !important;
                    z-index: 0;
                    margin: 0;
                    &.border-primary {
                        border-color: $dark !important;
                        background-color: $dark !important;
                        color: $white !important;
                    }
                }
                + .as-ppg-dropdown {
                    margin-left: 15px;
                }
            }
            button[data-bs-target="#o_wsale_offcanvas"] {
                border-radius: 0px;
                border: 2px solid $dark !important;
                background: $white !important;
                color: $dark !important;
                z-index: 0;
                margin-right: 10px;
                @include media-breakpoint-down(lg) {
                    margin-left: auto !important;
                }
            }
        }
    }


    /* Catagory Slider
    ------------------------------*/
    #products_grid {
        display: flex;
        flex-direction: column;
        .o_wsale_filmstip_container {
            order: -1;
        }
        .o_wsale_filmstip_wrapper {
            .swiper-slide {
                width: auto;
            }
            .as-filmstip-cat {
                min-width: 120px;
                position: relative;
                text-align: center;
                border: 2px solid $dark;
                .o_image_40_cover {
                    background-size: cover;
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                    position: relative;
                    display: block;
                    &:after {
                        content: "";
                        padding-bottom: 100%;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                    }
                }
                span {
                    font-size: 14px;
                    color: $dark;
                    font-weight: 500;
                    padding: 7px;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    border-top: 2px solid $dark;
                }
            }
        }
    }


    /* Product Sidebar
    ------------------------------*/
    #products_grid_before {
        .o_wsale_products_grid_before_rail {
            padding: 0 !important;
        }
        

        .products_categories {        
            margin: 0 0 20px!important;
            border: 2px solid $dark;
            .o_categories_collapse_title {
                margin: 0 !important;
                font-size: 16px;
                padding: 15px;
                text-transform: uppercase;
                color: $dark;
                letter-spacing: 2px;
                border-bottom: 2px solid $dark;
                b {
                    font-weight: 600;
                }
            }
            .wsale_products_categories_list {
                padding: 15px;
                .nav {
                    margin: 0 !important;
                }
            }
        }

        .js_attributes {
            margin: 0 !important;
            .accordion-item {
                margin: 0 0 20px !important;
                border-radius: 0 !important;
                border: 2px solid $dark;
                h6 {
                    margin: 0 !important;
                    font-size: 16px;
                    padding: 15px;
                    text-transform: uppercase;
                    color: $dark;
                    letter-spacing: 2px;
                    cursor: pointer;
                    border-radius: 0;
                    b {
                        font-weight: 600;
                    }
                }
            }
            .accordion-button {
                .f-arrow {
                    width: 25px;
                    height: 25px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-left: auto;
                    position: relative;
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        background-color: $dark;
                    }
                    &:before {
                        width: 14px;
                        height: 4px;
                    }
                    &:after {
                        width: 4px;
                        height: 14px;
                    }
                }
                &:after {
                    display: none;
                }
                &:not(.collapsed) {
                    .f-arrow {
                        &:after {
                            height: 0;
                        }
                    }
                }
            }

            .accordion-body {
                padding:15px;
                border-top: 2px solid $dark;
            }
        }

        #o_wsale_price_range_option {
            margin: 0 !important;
            border: 2px solid $dark;
            padding: 15px;
            .o_products_attributes_title {
                border-bottom: 2px solid $dark;
                width: calc(100% + 30px);
                font-size: 16px;
                padding: 0 0 15px 15px;
                text-transform: uppercase;
                color: $dark;
                letter-spacing: 2px;
                margin-left: -15px !important;
                b {
                    font-weight: 600;
                }
            }
            .multirange-wrapper {
                margin: 0 !important;
                padding-top: 15px;
            }
        }

        .wsale_products_categories_list {
            .nav-item {
                .accordion-header {
                    .form-check {
                        flex: 1;
                    }
                    .accordion-button {
                        width: 20px;
                        height: 20px;
                        &:after {
                            background-size: 0.7rem;
                            background-position: center;
                        }
                    }
                }
            }
        }

        .form-check {
            position: relative;
            padding: 0;
            font-size: 16px;
            .form-check-label {
                padding: 0 8px 0 28px;
                font-weight: 500;
                color: $dark;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: $gray-400;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 4px;
                    width: 8px;
                    height: 8px;
                    background: $white;
                    z-index: 1;
                    border-radius: 50%;
                    opacity: 0;
                }
            }
            .form-check-input {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                opacity: 0;
                &:checked {
                    ~ .form-check-label {
                        color: $primary;
                        &:after {
                            background-color: $dark;
                        }
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            
        }

        .js_attributes {
            .form-select {
                font-size: 16px;
                border-radius: 0;
                border-color: $dark;
            }
            .form-check {
                display: flex;
            }
            .as-count {
                margin-left: auto;
                font-size: 87%;
            }
        }

        .as-product-stock {
            padding: 15px;
            margin: 20px 0 !important;
            color: $dark;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 2px solid $dark;
            a {
                text-decoration: none;
                color: $dark;
            }
        }

    }

    // Search
    .as-aside-attr-search {
        position: relative;
        margin-bottom: 15px;
        .fa {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 12px;
            bottom: 0;
            height: 12px;
            margin: auto;
            color: $dark !important;
        }
        .form-control {
            font-size: 14px;
            height: calc(1.1em + 0.75rem + 2px);
            border-radius: 0;
            border: 1px solid $dark;
            padding-left: 30px;
        }
    }

    // Brand
    .as-aside-brand-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        label {
            position: relative;
            flex: 0 0 calc(33.33333% - 10px);
            border: 2px solid $gray-300;
            margin: 5px;
            cursor: pointer;
            &.active {
                border: 2px solid $dark;
            }
            &:after {
                content: "";
                padding-bottom: 100%;
                display: inline-block;
                vertical-align: top;
            }
            img {
                width: 95%;
                height: 95%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: contain;
                margin: auto;
            }
            input[type="checkbox"] {
                opacity: 0;
            }
            .as-count {
                position: absolute;
                top: -1px;
                right: -1px;
                font-size: 12px;
                font-weight: 500;
                background: $dark;
                color: $white;
                padding: 2px 5px;
            }
        }
    }

    //Star
    .as-aside-star-list {
        label {
            font-weight: normal;
        }
        .as_rating_attr {
            span {
                padding-right: 4px;
            }
            .fa {
                color: $warning;
                &:before {
                    content: "\f005";
                }
                ~ .fa {
                    display: none;
                }
            }
        }
    }

    /* offcanvas Sidebar
    ------------------------------*/
    #o_wsale_offcanvas {
        .accordion-header {
            .o_wsale_offcanvas_title {
                margin: 0 !important;
                font-size: 16px;
                padding: 15px;
                text-transform: uppercase;
                color: $dark;
                letter-spacing: 2px;
                cursor: pointer;
                font-weight: 600;
                &:after {
                    content: "\e8b1";
                    background-color: none;
                    font-family: 'feather' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    font-size: 15px;
                    transform: rotate(0deg) !important;
                    width: 25px !important;
                    height: 25px !important;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    bottom: 0;
                    margin: auto;
                }
                &:not(.collapsed) {
                    &:after {
                        content: "\e897";
                    }
                }
            }
        }
        .accordion-body {
            padding: 0 15px 15px;
        }
        .list-group-item {
            padding: 0;
        }
        .form-check {
            position: relative;
            padding: 0;
            font-size: 16px;
            .form-check-label {
                padding: 0 8px 0 28px;
                font-weight: 500;
                color: $dark;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: $gray-400;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 4px;
                    width: 8px;
                    height: 8px;
                    background: $white;
                    z-index: 1;
                    border-radius: 50%;
                    opacity: 0;
                }
            }
            .form-check-input {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                opacity: 0;
                &:checked {
                    ~ .form-check-label {
                        color: $primary;
                        &:after {
                            background-color: $dark;
                        }
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            
        }
    }
}