@if $breadcrumb_style=='style_1' {
    .o_control_panel .breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: "\f101";font: normal normal normal 14px/1 FontAwesome;font-size: 18px;padding: 0px 8px 0px 5px;}
}
@if $breadcrumb_style=='style_2' {
    .o_control_panel .breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: "\f0da";font-size: 18px;padding: 0px 10px 0px 5px;font-family: 'fontAwesome';}
}
@if $breadcrumb_style=='style_3' {
    .o_control_panel .breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: "\f111";font-size: 6px;padding: 0px 8px 0px 3px;top: 0px;left: 0;position: relative;font-family: 'fontAwesome';}
}
@if $breadcrumb_style=='style_4' {
    .o_control_panel .breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: "\f068";font-size: 8px;padding: 0px 10px 0px 4px;top: 0px;left: 0;position: relative;font-family: 'fontAwesome';}
}
@if $breadcrumb_style=='style_5' {
    .o_control_panel .breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: "|";padding: 0px 10px 0px 4px;}
}
@if $breadcrumb_style=='style_6' {
    .o_control_panel .breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: "\f105";font-size: 18px;padding: 0px 10px 0px 5px;font-family: 'fontAwesome';}
}
@if $breadcrumb_style=='style_7' {
    .o_control_panel .breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: "/";padding: 0px 8px 0px 3px;}
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    body .o_control_panel .breadcrumb {font-size: 17px;}
}
@media (min-width: 992px) {
    .o_control_panel .breadcrumb > li{display: flex; align-items: center;}
}