@if $backend_all_icon_style == 'backend_thin_icon'{
    @font-face {
        font-family: 'icomoon';
        src:  url('/sh_backmate_theme/static/src/oi_fonts_thin/fonts/icomoon.eot?3geyzh');
        src:  url('/sh_backmate_theme/static/src/oi_fonts_thin/fonts/icomoon.eot?3geyzh#iefix') format('embedded-opentype'),
          url('/sh_backmate_theme/static/src/oi_fonts_thin/fonts/icomoon.woff2?3geyzh') format('woff2'),
          url('/sh_backmate_theme/static/src/oi_fonts_thin/fonts/icomoon.ttf?3geyzh') format('truetype'),
          url('/sh_backmate_theme/static/src/oi_fonts_thin/fonts/icomoon.woff?3geyzh') format('woff'),
          url('/sh_backmate_theme/static/src/oi_fonts_thin/fonts/icomoon.svg?3geyzh#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      
      .oi, [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .icon-oi-group:before {
        content: "\e80a";
      }
      .icon-oi-panel-right:before {
        content: "\e810";
      }
      .icon-oi-search:before {
        content: "\e808";
      }
      .icon-oi-view-list:before {
        content: "\e817";
      }
      .icon-oi-view-kanban:before {
        content: "\e814";
      }
      .icon-oi-fw-oi-settings-adjust:before {
        content: "\e80c";
      }
      .icon-oi-close:before {
        content: "\d700";
      }
      .icon-oi-view-pivot:before {
        content: "\e800";
      }
}
