.expand_img {margin-top: 0px;}
.compress_img {display: none;position: relative;top: 2%;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img {height: 100%;object-fit: contain;text-align: center;margin: auto;line-height: 25px;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img {height: 100%;object-fit: contain;text-align: center;margin: auto;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img {line-height: 25px;}
#fullscreen_checkbox {display: none;}

/* Quick Bookmark Menu */
.o_menu_systray .o_menu_systray .sh_bookmark .sh_wqm_remove_quick_menu_cls i:hover{color: $primaryColor;}

.o_main_navbar .o_menu_systray .sh_bookmark.show .dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls.show{min-width: 300px !important;max-width: 300px;transform: none !important;}
.o_main_navbar .o_menu_systray .sh_bookmark .o_user_bookmark_menu{padding: 0 0.75rem;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls .sh_bookmark_search_div{padding: 5px 10px;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls a.dropdown-item{padding: 5px 15px;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls .sh_bookmark_search_div .sh_bookmark_search.form-control:focus,.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls .sh_bookmark_search_div .sh_bookmark_search.form-control:hover{border: 1px solid $primaryColor !important;box-shadow: 0 5px 10px 0 rgba(62, 57, 107, 0.20);transition: all .5s;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls .dropdown-item .sh_wqm_remove_quick_menu_cls{opacity: 0;transition: all .3s;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls .dropdown-item:hover .sh_wqm_remove_quick_menu_cls{opacity: 1;}

.o_main_navbar .o_menu_systray .sh_bookmark .dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls{transition: all .4s;left: auto !important;overflow: auto;transform-origin: 100% 0px;position: absolute;top: 100% !important;right: 0px !important;bottom: auto;left: auto !important;min-height: auto;min-width: 25rem;width: 25rem;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls a.dropdown-item span.fa{margin-right: 8px;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls a.dropdown-item:hover{color: $primaryColor;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls a.dropdown-item svg{margin-right: 8px;fill: #495057;}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls a.dropdown-item:hover svg{fill: $primaryColor;}

.o_main_navbar .o_menu_systray .sh_bookmark_menu_list.show .dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls .dropdown-item:hover{color: $primaryColor;}
.o_main_navbar .o_menu_systray .sh_bookmark_menu_list.show .dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls{border: 1px solid #dee2e6;}
@media only screen and (max-width: 992px){
    .o_main_navbar .o_menu_systray .sh_bookmark{display: none !important;}
}
.o_main_navbar .o_menu_systray .sh_bookmark .sh_bookmarked_icon{display: none;}
.o_main_navbar .o_menu_systray .sh_bookmark.active .sh_bookmarked_icon{display: block;}
.o_main_navbar .o_menu_systray .sh_bookmark.active .sh_bookmark_icon{display: none;}
.o_rtl .o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls .dropdown-item .sh_wqm_remove_quick_menu_cls{float: right !important;}
.o_rtl .o_main_navbar .o_menu_systray .sh_bookmark .sh_wqm_quick_menu_submenu_list_cls .dropdown-item .sh_pin_bkmrk{margin-right: 12px !important;margin-left: 0px !important;}