/*--body-background-color--*/
@if $body_background_type=='bg_color' {
    .o_web_client {background: $body_background_color;color: $body_font_color;font-family: $body_font_family !important;}
    .o_control_panel,.o_form_view,.o_FormRenderer_chatterContainer .o_ChatterContainer .o_Chatter,.o_control_panel .o_searchview .o_searchview_input,.o_FormRenderer_chatterContainer .o_ChatterContainer .o_Chatter_scrollPanel .o_ThreadView.o_Chatter_thread .o_ThreadView_bottomPart .o_MessageList.o_ThreadView_messageList,.o_form_view .o_form_sheet_bg,.o_FormRenderer_chatterContainer .o_ChatterContainer .o_Chatter_scrollPanel .o_ThreadView.o_Chatter_thread {background-color: $body_background_color !important;font-family: $body_font_family !important;}
    .o_form_view .o_form_sheet_bg .o_form_sheet,.o_notebook .nav{background-color: $body_background_color;}
    .breadcrumb {background-color: $body_background_color !important;font-family: $body_font_family !important;}
}
.o_cp_buttons .btn.btn-primary {border: 1.5px solid $primaryColor !important;font-weight: 500;}
.o_main_navbar>a:not(.o_menu_brand):hover,.o_main_navbar>a:not(.o_menu_brand):focus,.o_main_navbar>button:hover,.o_main_navbar>button:focus {background-color: $header_active_color !important;}
.o_form_statusbar .o_statusbar_status .btn-secondary.disabled{background-color: #e8e8e8;border-color: #e8e8e8;color: #212529 !important;}
.modal-footer .btn-secondary {border: 1.5px solid $primaryColor !important;background: #fff;}
.o_chatter .o_chatter_topbar>.btn {border: 1.5px solid $primaryColor !important;}
@if $theme_style !='style_7' {
    .sh_backmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus,
    .sh_backmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app:active {background: $sidebar_font_hover_bg_color;color: $sidebar_font_hover_color !important;}
}
.o_calendar_view .o_calendar_widget .fc-month-view .fc-content-skeleton .fc-today .fc-day-number {background-color: $primaryColor !important;}
.o_mail_thread .o_thread_message.o_mail_not_discussion,.o_mail_activity .o_thread_message.o_mail_not_discussion {background-color: rgba(255, 255, 255, 0.5) !important;}
.text-muted {color: #4c4c4c !important;}
@if $theme_style=='style_7' {
    .o_cp_buttons .btn.btn-primary {border: 1.5px solid $primaryColor !important;}
    .o_cp_buttons .btn.btn-primary:hover {background-color: $primary_hover !important;border-color: $primary_hover !important;box-shadow: none !important;}
    .o_control_panel {background-color: #fff;}
    .o_control_panel .breadcrumb {background-color: #ffffff;}
    .o_calendar_view .o_calendar_widget .fc-month-view .fc-content-skeleton .fc-today .fc-day-number {background-color: #FC3D39 !important;}
    .o_view_controller .o_form_view .o_form_statusbar {border-bottom: 1px solid #ced4da !important;}
    .o_statusbar_buttons .btn-secondary {border: 1.5px solid transparent !important;}
    .o_statusbar_buttons .btn-secondary:hover {background-color: #e6e5e5 !important;border-color: #e6e5e5 !important;color: #4c4c4c;}
    .o_statusbar_buttons .btn.btn-primary:hover {border-color: $primary_hover !important;}
    .o_chatter .o_chatter_topbar .btn {border: 0px !important;}
    .o_form_view .oe_chatter {max-width: 1172px !important;}
    .modal-footer .btn-secondary {border-color: transparent !important;}
    .o_field_widget.o_field_many2many_tags .o_tag_color_1,.o_field_widget.o_field_many2many_tags .o_tag_color_1::after {border-radius: 20px;}
    .o_field_widget.o_field_many2many_tags .badge {border-radius: 20px;}
    .o_form_statusbar .o_statusbar_status .btn-secondary.disabled,.btn-secondary:disabled {background: #ffffff !important;border-color: #ffffff !important;}
    .o_form_view .o_form_statusbar {border-bottom: 1px solid #ced4da !important;}
    .o_mail_thread .o_thread_message.o_mail_not_discussion,.o_mail_activity .o_thread_message.o_mail_not_discussion {background-color: rgba(222, 226, 230, 0.5) !important;}
    .o_calendar_sidebar_container .ui-datepicker td.ui-datepicker-current-day.ui-datepicker-today a {background: #FC3D39 !important;color: #ffffff !important;}
    .o_chatter .o_chatter_topbar .btn {color: $primaryColor !important;}
    .o_activity_view .o_record_selector {color: $primaryColor !important;}
    .o_main_navbar .o_navbar_apps_menu.sh_backmate_theme_appmenu_div .dropdown-toggle {pointer-events: none;cursor: none;}
    .o_main_navbar .o_navbar_apps_menu.sh_backmate_theme_appmenu_div .dropdown-toggle .full#app_toggle {pointer-events: visible;}
}
.bg-primary {background: $primaryColor !important;color: #fff;}
div.o_boolean_toggle.custom-control.custom-checkbox>input.custom-control-input:checked+label.custom-control-label::before {background-color: $primaryColor;}
div.o_boolean_toggle.custom-control.custom-checkbox>input.custom-control-input:checked+label.custom-control-label::before {background-color: $primaryColor !important;}
.o_kanban_content .bg-primary {background-color: $primaryColor !important;}
.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):after {border-left: 11px solid #fff;}
.btn-secondary.disabled,.o_radio_hide_bullet label.disabled,.o_radio_hide_bullet label:disabled {background: #fff !important;}
.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before,
.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):after {content: " ";display: block;position: absolute;top: 0;left: auto;bottom: auto;right: -10px;border-top: 16px solid transparent !important;border-bottom: 17px solid transparent !important;border-right: none !important;border-left: 11px solid white !important;transition: border 0.2s ease 0s;-moz-transform: scale(0.9999);}

.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button:not(:first-child):before {right: -11px;border-left-color: #dee2e6 !important;}
@if $theme_style !='style_7' {
    .o_form_view .o_form_statusbar .o_statusbar_status .o_arrow_button.o_arrow_button_current.disabled:after {border-left-color: $primaryColor !important;}
    .o_form_view .o_form_statusbar .o_statusbar_status .o_arrow_button.o_arrow_button_current.disabled {background: $primaryColor !important;}
}
.o_form_view .oe_button_box .btn.oe_stat_button {border: 1px solid #ced4da;}
@media only screen and (max-width: 768px) {
    .o_form_view .oe_button_box.o_not_full .oe_stat_button,.oe_stat_button {border: 1px solid #ced4da;}
}
.o_form_button_edit .fa,.o_form_button_create .fa,.o_list_button_add .fa,.o_button_import .fa,.o_dropdown_toggler_btn .fa.fa-print,.o_dropdown_toggler_btn .fa.fa-wrench,.o-kanban-button-new .fa,.o_form_button_save .fa,.o_form_button_cancel .fa {display: inline-block !important;}
@media only screen and (max-width: 767.98px) {
    .btn-secondary:not(:disabled):not(.disabled):active,.btn-secondary:not(:disabled):not(.disabled):not(.o_DiscussMobileMailboxSelectionItem).active,.show>.btn-secondary.dropdown-toggle,.btn-secondary:not(:disabled):not(.disabled):focus {background: $primaryColor !important;opacity: 1;color: #fff !important;}
    .o_control_panel .o_cp_bottom .o_cp_bottom_right .btn-link.btn-sm {background: $primaryColor !important;color: #fff !important;border-color: $primaryColor !important;}
}
.o_statusbar_buttons_dropdown.btn.btn-secondary.dropdown-toggle {background: $primaryColor !important;color: #ffffff !important;text-transform: uppercase;font-weight: 500;}
@if $body_background_type=='bg_img' {
    @if $theme_style=='style_6' {
        @media only screen and (min-width: 768px){
            .o_form_statusbar .o_field_widget .o_arrow_button {background: #fff !important;}
        }
    }
}
.o_user_bookmark_menu a.active {color: #212121 !important;}