// list  view css //  
@if $predefined_list_view_boolean == "True"{
    // style 1 //  
    @if $predefined_list_view_style == 'style_1'{     
        .o_form_view .table-responsive .o_list_table tr,
        .o_list_view .table-responsive .o_list_table tr{border: none !important;}
        .o_form_view .table-responsive .o_list_table,
        .o_list_view .table-responsive .o_list_table{border-collapse: unset !important;  border-spacing: 2px 0px  !important;}
        .o_form_view .table-responsive .o_list_table tr td,
        .o_list_view .table-responsive .o_list_table tr td{border-bottom-width: 1px !important; border-color: #cacaca !important; border-bottom-style: solid !important;border-top: 0 !important;}
        .o_form_table_ungrouped tbody td,
        .o_list_table_ungrouped tbody td{border-right: none !important;}
        .o_form_view .table-responsive .o_list_table thead tr:nth-child(1) th,
        .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{border-left: 0 !important;border-bottom: 0 !important;}
        .o_form_view .o_list_table tr.o_data_row.o_data_row_selected:focus-within,
        .o_form_view .o_list_table tr.o_data_row:focus-within, 
        .o_form_view .o_list_table.table-striped tr.o_data_row_selected:focus-within,
        .o_list_view .o_list_table tr.o_data_row.o_data_row_selected:focus-within,
        .o_list_view .o_list_table tr.o_data_row:focus-within, 
        .o_list_view .o_list_table.table-striped tr.o_data_row_selected:focus-within{background-color: #e6e5e5;}
    }
    //  style 2 //
    @if $predefined_list_view_style == 'style_2'{ 
        .o_form_view .table-responsive .o_list_table tr,
        .o_list_view .table-responsive .o_list_table tr{border: none !important;}
        .o_form_view .table-responsive .o_list_table,
        .o_list_view .table-responsive .o_list_table{border-collapse: unset !important;  border-spacing: 2px 2px  !important;}
        .o_form_view .table-responsive .o_list_table tr td,
        .o_list_view .table-responsive .o_list_table tr td{border-bottom-width: 1px !important; border-color: #cacaca !important; border-bottom-style: solid !important;border-top: 0 !important;}
        .o_form_view .o_list_table_ungrouped tbody td,
        .o_list_table_ungrouped tbody td{border-right: none !important;}
        .o_form_view .o_list_table.table tbody tr:nth-of-type(even):hover td,
        .o_list_view .o_list_table.table tbody tr:nth-of-type(even):hover td{--table-accent-bg:#ececec;}
        .o_form_view .table-hover.o_list_table_ungrouped tbody tr:nth-of-type(odd):hover td,
        .table-hover.o_list_table_ungrouped tbody tr:nth-of-type(odd):hover td{--table-accent-bg:#fff;}
        .o_form_view .o_list_table_ungrouped tbody tr:nth-of-type(odd):hover,
        .o_list_table_ungrouped tbody tr:nth-of-type(odd):hover{background-color: #fff !important;}
        .o_form_view .o_list_table.table tbody tr:nth-of-type(even),
        .o_list_view .o_list_table.table tbody tr:nth-of-type(even){background-color: #ececec !important;}
        .o_form_view .table-hover tbody tr:hover,
        .table-hover tbody tr:hover{background-color: rgb(255, 255, 255) !important;}
        .o_form_view .table-responsive .o_list_table thead tr:nth-child(1) th,
        .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{border-left: 0 !important; border-bottom: 0 !important;}
        .o_form_view .o_list_table tr:focus-within td, 
        .o_form_view .o_list_table.table-striped tr:focus-within,
        .o_list_view .o_list_table tr:focus-within td, 
        .o_list_view .o_list_table.table-striped tr:focus-within{background-color: transparent;--table-accent-bg:transparent !important;}
    }
    // style 3 //
    @if $predefined_list_view_style == 'style_3'{ 
        .o_control_panel{border-bottom: none !important;}
        .o_form_view .table-responsive .o_list_table thead tr th,
        .o_list_view .table-responsive .o_list_table thead tr th{border-width: 0 1px 1px !important; border-color: #cacaca !important; border-style: solid !important;}
        .o_form_view .table-responsive .o_list_table tr,
        .o_list_view .table-responsive .o_list_table tr{border: none !important;}
        .o_form_view .table-responsive .o_list_table,
        .o_list_view .table-responsive .o_list_table{border-collapse: unset !important;  border-spacing: 2px 2px  !important;}
        .o_form_view .table-responsive .o_list_table tr td,
        .o_list_view .table-responsive .o_list_table tr td{border-width: 0 1px !important; border-color: #cacaca !important; border-style: solid !important;}
        .o_form_view .o_list_table tr:focus-within, 
        .o_form_view .o_list_table.table-striped tr:focus-within,
        .o_list_view .o_list_table tr:focus-within, 
        .o_list_view .o_list_table.table-striped tr:focus-within{background-color: #e6e5e5;}
    }
    //   style 4  //
    @if $predefined_list_view_style == 'style_4'{ 
        .o_form_view .table-responsive .o_list_table tr,
        .o_list_view .table-responsive .o_list_table tr{border: none !important;}
        .o_form_view .table-responsive .o_list_table thead tr:nth-child(1) th.o_list_record_selector .custom-control.custom-checkbox [type='checkbox'] + label:not(.lever):before,
        .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th.o_list_record_selector .custom-control.custom-checkbox [type='checkbox'] + label:not(.lever):before{border: 2px solid #ffffff !important;}
        .o_form_view .o_list_table_ungrouped tbody td,
        .o_list_table_ungrouped tbody td{border-right: none !important;}
        .o_form_view .o_list_table.table tbody tr td:nth-of-type(odd),
        .o_list_view .o_list_table.table tbody tr td:nth-of-type(odd){background: lighten($primaryColor, 40%); border-bottom: 2px solid #eceffa;}
        .o_form_view .o_list_table.table tbody tr td:nth-of-type(even),
        .o_list_view .o_list_table.table tbody tr td:nth-of-type(even){border-bottom: 2px solid #f8f9fd;}
        .o_form_view .table-responsive .o_list_table thead tr:nth-child(1) th,
        .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{ background: $primaryColor !important; border-bottom: 2px solid #eceffa; border-color:#eceffa !important;}
        .o_form_view .table-hover tbody tr:hover,
        .table-hover tbody tr:hover{background: #ffff;}
        .o_form_view .table-responsive .o_list_table thead tr:nth-child(1) th,
        .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th {color: #ffff !important; background-color: #ffffff;border-left: 0 !important;border-bottom: 2px solid #f8f9fd !important;}
        .o_form_view .o_list_table tr:focus-within, 
        .o_form_view .o_list_table.table-striped tr:focus-within,
        .o_list_view .o_list_table tr:focus-within, 
        .o_list_view .o_list_table.table-striped tr:focus-within{background-color: transparent !important;}
        .o_form_view .o_list_table.table tbody tr.o_data_row_selected td,
        .o_form_view .o_list_table.table tbody tr:hover td,
        .o_list_view .o_list_table.table tbody tr.o_data_row_selected td,
        .o_list_view .o_list_table.table tbody tr:hover td{--table-accent-bg:lighten($primaryColor, 40%);}
    }
    //  style 5 //
    @if $predefined_list_view_style == 'style_5'{ 
        .o_form_view .table-responsive .o_list_table thead tr:nth-child(1) th,
        .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{border-left: 0 !important;border-bottom: 0 !important;}
        .o_form_view .o_list_table.table tbody tr td,
        .o_list_view .o_list_table.table tbody tr td{  box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.22) !important;}
        .o_form_view .o_list_table.table,
        .o_list_view .o_list_table.table { border-collapse: separate;border-spacing: 2px 2px;}
        .o_form_view .o_list_table td,
        .o_list_view .o_list_table td{padding: 0.9rem 0.75rem !important;}
        .o_form_view .o_list_table tr:focus-within, 
        .o_form_view .o_list_table.table-striped tr:focus-within
        .o_list_view .o_list_table tr:focus-within, 
        .o_list_view .o_list_table.table-striped tr:focus-within{background-color: #e6e5e5;}
    }
    // nightmode list view css //  
    @if $predefined_list_view_style == 'style_1'{ 
        .sh_night_mode  .o_list_view .table-responsive .o_list_table tr td{border-color: #94a2c7 !important;color: #94a2c7; }
        .sh_night_mode .o_list_table_ungrouped tbody tr:hover,
        .sh_night_mode .table-striped tbody tr:nth-of-type(odd),
        .sh_night_mode .o_list_view .o_list_table.table tbody tr:nth-of-type(even){background-color: #252c48 !important;}
    }
    // style 2 //
    @if $predefined_list_view_style == 'style_2'{ 
        .sh_night_mode .o_list_table_ungrouped tbody tr,
        .sh_night_mode .o_list_view .o_list_table.table tbody tr:nth-of-type(even){ background: #2b3353 !important;color: #94a2c7;}
        .sh_night_mode .o_list_table_ungrouped tbody tr:nth-of-type(odd),
        .sh_night_mode .table-striped tbody tr:nth-of-type(odd) {background-color: #252c48 !important;color: #94a2c7;}
        .sh_night_mode .o_list_table_ungrouped tbody tr:hover{background-color: transparent !important;}
        .sh_night_mode .o_list_table_ungrouped tbody td{border-right: none !important;}
    }
    // style 3 //
    @if $predefined_list_view_style == 'style_3'{ 
        .sh_night_mode .o_list_table_ungrouped tbody tr:nth-of-type(odd),
        .sh_night_mode .table-striped tbody tr:nth-of-type(even), 
        .sh_night_mode .table-striped tbody tr:nth-of-type(odd) {background-color: #171c32 !important;color: #94a2c7;}
        .sh_night_mode .o_list_table_ungrouped tbody tr:hover{background-color: transparent !important;color: #94a2c7;}
        .sh_night_mode .o_list_view .o_list_table.table tbody tr:nth-of-type(even){background-color: #171c32 !important;}
        .sh_night_mode  .o_list_view .table-responsive .o_list_table thead tr th{border-width: 0 1px 1px !important; border-color: #94a2c7 !important; border-style: solid !important;}
        .sh_night_mode .table-responsive .o_list_table.table thead tr th,
        .sh_night_mode  .o_list_view .table-responsive .o_list_table tr{background: #171c32 !important;color: #94a2c7;}
        .sh_night_mode .table-responsive .o_list_table.table thead tr th,
        .sh_night_mode .o_form_view .table-responsive .o_list_table tr td,
        .sh_night_mode .o_list_view .table-responsive .o_list_table tr td{border-color: #94a2c7 !important;}
    }
    // style 4 //  
    @if $predefined_list_view_style == 'style_4'{ 
        .sh_night_mode .o_list_table_ungrouped tbody tr:hover{background: #252c48 !important;color: #94a2c7;}
        .sh_night_mode .o_form_view .o_list_table.table tbody tr td:nth-of-type(odd),
        .sh_night_mode .o_list_view .o_list_table.table tbody tr td:nth-of-type(odd) {background: #252c48;border-bottom: 1px solid #94a2c7 !important;color: #94a2c7;}
        .sh_night_mode .o_form_view .o_list_table.table tbody tr td:nth-of-type(even),
        .sh_night_mode .o_list_view .o_list_table.table tbody tr td:nth-of-type(even){border-bottom: 1px solid #94a2c7 !important; background-color: #252c48 !important;color: #94a2c7;}
        .sh_night_mode .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{ background: #4c84ff !important;}
        .sh_night_mode .o_list_renderer .o_list_table tfoot,
        .sh_night_mode .table-responsive .o_list_table.table thead tr td, 
        .sh_night_mode .o_form_view .o_list_table.table tbody tr td:nth-of-type(odd), 
        .sh_night_mode .o_list_view .o_list_table.table tbody tr td:nth-of-type(odd),
        .sh_night_mode .table-responsive .o_list_table.table thead tr th {background: #171c32 !important;}
    }
    // style 5 //  
    @if $predefined_list_view_style == 'style_5'{
        .sh_night_mode .o_list_view .o_list_table.table tbody tr td{background-color: #171c32 !important;}
        .sh_night_mode  .o_list_view .table-responsive .o_list_table tr td{color: #94A2C7 !important;}
        .sh_night_mode .o_list_view .o_list_table.table tbody tr td{  box-shadow: inset 0 0 6px #222c47 !important;}
    }
}
.sh_night_mode .o_list_table_ungrouped tbody tr{background-color: transparent !important;}