.company_selections {
    display: none !important;
}

.dark_mode {
    display: none;
}

body.o_web_client .o_main_navbar .o_menu_systray .o_switch_company_menu .debug_activator {
    display: none;
}

/* .o_MessagingMenu.dropdown {
    display: none !important;
  } */

@media (max-width: 768px) {
    .ks_dashboard_header {
        height: 100px !important;
    }
}

.o_form_view .oe_avatar > img{
    margin-right: 5px;
}

/* .dropdown-item {
    display: none !important;
  } */

  /* Add border width and color to fields with class o_field_widget */
.o_input {
    border: 2px solid #e4e6ef !important;
    padding: 8px; /* Adjust the padding for density */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    width: 100%; /* Default width */
    border-style: solid; /* Set border style */
    border-width: 2px; /* Set border width */
    border-color: #ccc; /* Set border color */
    
}

/* Backmate Censend teması için hatalı form uzunluğu düzeltme START*/
.o_form_sheet{
    max-width: 1800px !important;
}
.o_FormRenderer_chatterContainer{
    margin-top: 15px;
}
.pinned_app_div{
    display: none;
}
.sh_search_container{
    display: none;
}
.app_drawer_layout{
    margin-top: 20px;
}

/* Backmate Censend teması için hatalı form uzunluğu düzeltme END*/


/* Backmate Censend teması için hatalı calendar rengi düzeltme START*/
.o_calendar_renderer .fc-event .fc-bg {
    background-color: transparent !important;
}
/* Backmate Censend teması için hatalı calendar rengi düzeltme END*/

@media (min-width: 1024px) { /* 1024px ve üzeri ekranlar için (masaüstü) */
    .fa.fa-cloud-upload.fa-fw::before {
        content: "\f0c7"; /* fa-floppy-o Unicode kodu */
    }

    .fa.fa-cloud-upload.fa-fw {
        transform: scale(2); /* 2x büyütme */
        color: green;
    }

    .fa.fa-undo.fa-fw {
        transform: scale(2); /* 2x büyütme */
        color: red;
    }
}



