// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$gray-100: #f7faff !default;
$gray-200: #eaecf3 !default;
$gray-300: #e2e8f0 !default;
$gray-400: #CBD5E0 !default;
$gray-500: #A0AEC0 !default;
$gray-600: #718096 !default;
$gray-700: #4A5568 !default;
$gray-800: #2D3748 !default;
$gray-900: #273444 !default;


$dark: #222 !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.




// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacers: () !default;
$spacers: map-merge((0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: $spacer * 3.5,
    7: $spacer * 4,
    8: $spacer * 5,
    9: $spacer * 6,
    10: $spacer * 7,
),
$spacers);


// Components
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-width:                1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 6px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px
) !default;


// Cards
$card-border-color: $gray-300 !default;


// Components
//
// Define common padding and border radius sizes and more.

$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !default;
$box-shadow-lg: 0 1.5rem 4rem rgba(0, 0, 0, 0.1) !default;


// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-border-width: 0 !default;
$dropdown-border-radius: 0 !default;


$dropdown-link-color: $gray-900 !default;
$dropdown-link-hover-color: $primary !default;
$dropdown-link-hover-bg: transparent !default;

$dropdown-link-active-color: $primary !default;
$dropdown-link-active-bg: transparent !default;

$dropdown-item-padding-y:     0.50rem !default;


$input-btn-focus-color: transparent !default;
//$input-btn-focus-width:       0 !default;
$input-btn-focus-box-shadow: 0 0 0 0 $input-btn-focus-color !default;
$btn-focus-width: 0 !default;
$btn-focus-box-shadow: $input-btn-focus-box-shadow !default;




// Utilities
$utilities: (
    "font-weight": (
        property: font-weight,
        class: fw,
        values: (
            300: 300,
            400: 400,
            500: 500,
            600: 600,
            700: 700,
            800: 800,
            900: 900,
        )
    ),
    "letter-spacing": (
        property: letter-spacing,
        class: spacing,
        values: (
            1px: 1px,
            2px: 2px,
            3px: 3px,
            4px: 4px,
            5px: 5px,
        )
    )
);